.image-view {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

    &--not-found {
        background-color: #f8d7da;
        color: #721c24;
        padding: 20px;
        border-radius: 5px;
        text-align: center;
    }

    &__title {
        margin-bottom: 20px;
        font-size: 24px;
    }

    &__img {
        max-width: 90%;
        max-height: 80%;
        object-fit: contain;
        border-radius: 8px;
    }

    &__id {
        margin-top: 20px;
        font-size: 14px;
    }
}